html {
    background: url(https://images.squarespace-cdn.com/content/v1/53feb922e4b0260e999e33c7/1582309812227-199UM8LUWB332V6A3TBG/ke17ZwdGBToddI8pDm48kA_SSaoz4elkj-HsZd8gX3Z7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UWPwZyNcweDIvdeL5kotwkIXjs9g0WibSO_cU-Ijy4Pwg6poS-6WGGnXqDacZer4yQ/55485870_967625376775776_6098175320559452160_o.jpg?format=2500w) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    position: relative;
  }